<header>
    <nav>
        <a class="menu-inicio" href="/">Inicio</a>
        <a class="menu-inicio" href="/mis-habilidades">Habilidades</a>
        <a class="menu-inicio" href="/mis-trabajos">Mis trabajos</a>
        <a class="menu-inicio" href="/en-contacto">Contáctame</a>
    </nav>
</header>